<H1>Workout Tracker</H1>
<H2>Fuck OSU for not recognizing Memorial Day</H2>
<div>
    Enter Das Workout Data:
</div>
<form id="addEntryForm" method="post">
    <table id="inputTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Date</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="name" required />
                </td>
                <td>
                    <input type="text" name="reps" required />
                </td>
                <td>
                    <input type="text" name="weight" required/>
                </td>
                <td>
                    <input type="date" name="date" required/>
                </td>
                <td>
                    <input type="text" name="lbs" required/>
                </td>
                <td>
                    <button type="button" id="submit">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    Das Workouts Summary:
</div>
<table id="workoutTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody id='tableBody'>
        {{#each dataList}}
        <tr id='row_{{this.id}}'>
            <td id='name_{{this.id}}'>{{this.name}}</td>
            <td id='reps_{{this.id}}'>{{this.reps}}</td>
            <td id='weight_{{this.id}}'>{{this.weight}}</td>
            <td id='date_{{this.id}}'>{{this.date}}</td>
            <td id='lbs_{{this.id}}'>{{this.lbs}}</td>
            <td>
                <button type="button" class="edit" id='btnEdit_{{this.id}}'>Edit</button>
            </td>
            <td>
                <button type="button" class="delete" id='btnDelete_{{this.id}}'>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<h3>Edit Values</h3>
<table id="editTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody id='editTableBody'>

    </tbody>
</table>
<br>
<script src='/scripts/index.js'></script>