<H1>Workout Tracker</H1>
<div>
    Enter Das Workout Data:
</div>
<form id="addEntryForm" method="post">
    <table id="inputTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Date</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="name" required />
                </td>
                <td>
                    <input type="text" name="reps" required />
                </td>
                <td>
                    <input type="text" name="weight" required/>
                </td>
                <td>
                    <input type="date" name="date" required/>
                </td>
                <td>
                    <input type="text" name="lbs" required/>
                </td>
                <td>
                    <button type="button" id="submit">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    Das Workouts Summary:
</div>
<table id="workoutTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody id='tableBody'>
        {{#each dataList}}
        <tr id='row_{{this.id}}'>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
            <td>
                <button type="button" class="edit" id='btnEdit_{{this.id}}'>Edit</button>
            </td>
            <td>
                <button type="button" class="delete" id='btnDelete_{{this.id}}'>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<script src='/scripts/index.js'></script>